.Button {
    border: none;
    border-radius: 20px;
    color: white;
    outline: none;
    cursor: pointer;

    margin: 10px;

    text-transform: uppercase;
    font-weight: 500;

    transition: all 0.3s ease-in-out;
}

.Success {
    background-color: rgba(75, 181, 67, 0.71);;
}

.Success:hover, .Success:focus {
    background-color: #4BB543;;
}

.Danger {
    background-color: rgba(243, 32, 19, 0.8);;
}

.Danger:hover, .Danger:focus {
    background-color: #F32013;;
}

.Neutral {
    background-color: rgba(64, 164, 200, 0.8);
}

.Neutral:hover, .Neutral:focus {
    background-color: rgb(64, 164, 200);
}

.Button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #333333;
}

@media (max-width: 400px) {
    .Button {
        margin: 2px;
    }
}