.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 110px;
}

.Label {
    color: #cccccc;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    display: block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.InputElement {
    display: block;
    width: 100%;
    padding: 8px 14px;

    border: 1px solid #333;
    border-radius: 20px;
    background-color: #333444;
    outline: none;
    color: white;
    font-size: 22px;

    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #2e3034;
}

.InputElement::placeholder {
    color: #888;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.ValidationError {
    color: red;
    margin: 8px 20px;
}

@media (max-width: 500px) {
    .Label {
        font-size: 15px;
    }

    .InputElement {
        font-size: 20px;
    }
}