.NavigationItem {
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;

    background-color: rgba(64, 164, 200, 0.8);
    transition: all 0.3s ease-in-out;
}

.NavigationItem:hover, .NavigationItem:focus {
    background-color: #40A4C8;
}

.NavigationItem:hover a, .NavigationItem:focus a {
    color: white;
}

.NavigationItem a {
    padding: 10px 25px;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}


@media (max-width: 360px) {
    .NavigationItem a {
        padding: 10px 15px;
    }
}
